body {
    /*background-color: rgba(60, 232, 112, 0.32);*/
    font-family: "Source Code Pro", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    /*color: #c63e01;*/
    max-width: 800px;
    margin: auto;
}

p{
    line-height: 1.7;
}

article + article {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #c5c5c5;
}

a {
    text-decoration: none;
}

.ml-2 {
    margin-left: 25px;
}

.ml-3 {
    margin-left: 40px;
}

